Screen {
	layout: grid;
	grid-size: 2;
	grid-columns: 2fr 1fr;
}

#chart {
	height: 70%;
	border: solid green;
}

#terminal {
	height: 30%;
}

#watchlist {
	border: solid blue;
	height: 100%;
	overflow-y: auto;
	padding: 1;
}

.branding {
	text-align: center;
	color: $text;
	padding: 1 0;
}

.watchlist-table {
	width: 100%
}
